body {
    margin: 0px;
    color: white;
    background-color: black;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    overflow-x: hidden;
}

.container {
    position: fixed;
    top: 0px;
    bottom:0px;
    /*
    display: flex;
    flex-direction: column;
    */
}

.view {
    position: fixed;
    top: 0px;
    bottom: 70px;
    width: 100vw;
    overflow: hidden;
}

.view.hidden {
    display: none;
}

.subview {
    background-color: black;
    z-index: 2;
    transition: .25s ease;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 70px;
    width: 100%;
    overflow: hidden;
}

.subview.hidden {
    left: 100%;
}

.subview-header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #333333;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-align: center;
}

.subview-header span.back {
    position: absolute;
    left: 10px;
    font-size: 20px;
    font-weight: normal;
    color: #7777ff;
    cursor: pointer;
}

.subview-body {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    padding: 10px;
}

.subview-body div {
    margin-bottom: 10px;
}

.subview-body a span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-right: 5px;
}

#auth-fb {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%233b5998' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z'/%3E%3C/svg%3E");
}

#auth-tw {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%231DA1F2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z'/%3E%3C/svg%3E");
}

#auth-vk {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%234c75a3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z'/%3E%3C/svg%3E");
}

#auth-ok {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='orange' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z'/%3E%3C/svg%3E");
}

#auth-ya {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='red' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z'/%3E%3C/svg%3E");
}

#auth-gg {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='green' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z'/%3E%3C/svg%3E");
}

.subview-body div.wrapper {
    position: relative;
    max-width: 100%;
    max-width: 400px;
    height: 30px;
}
.subview-body div.wrapper input {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;
    background: #333333;
    color: white;
    border: 0px;
    border-radius: 2px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.0rem;
}

.subview-body div.wrapper button {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;
    background: #7777ff;
    color: white;
    border: 0px;
    border-radius: 2px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.0rem;
}

.tabs {
    bottom: 0px;
    position: fixed;
    min-height: 70px;
    height: 70px;
    max-height: 70px;
    width: 100vw;
    font-size: 0.8rem;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#news-tab {
    left: 0%;
}
#history-tab {
    left: 25%;
}
#search-tab {
    left: 50%;
}
#more-tab {
    left: 75%;
}

.tab {
    position: fixed;
    /*display: inline-block;*/
    background-color: #333333;
    /*min-width: 40px;*/
    max-width: 25%;
    width: 25%;
    min-width: 25%;
    height: 70px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
}

.card {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    /*display: flex;
    flex-direction: column;*/
}

#top-card {
    z-index: 2;
}

#top-card:before {
    content: "";
    position: absolute;
    left: -10px;
    height: 100%;
    width: 10px;
    background-color: pink;
    z-index: 2;
    background: linear-gradient(90deg,
                            rgba(0, 0, 0, 0.0) 0%,
                            rgba(0,0,0,0.2) 50%,
                            rgba(0,0,0,0.4) 100%);
}
#top-card:after {
    content: "";
    position: absolute;
    right: -10px;
    height: 100%;
    width: 10px;
    background-color: pink;
    z-index: 2;
    background: linear-gradient(270deg,
                            rgba(0, 0, 0, 0.0) 0%,
                            rgba(0,0,0,0.2) 50%,
                            rgba(0,0,0,0.4) 100%);
}

#next-card {
    z-index: 1;
}

.main-info {
    background-color: lightgray;
    /*background-image: url(http://192.168.0.106:8081/504/1);*/
    position: absolute;
    top: 0px;
    height: 75vw;
    width: 100vw;
    /*display: flex;
    flex-direction: column;
    */
}

#v-mark {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(255,255,255,0.5);
    width: 48px;
    height: 48px;
    border-radius: 2px;
    /*border: 1px solid #33cc33;*/
}

#x-mark {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(255,255,255,0.5);
    width: 48px;
    height: 48px;
    border-radius: 2px;
    /*border: 1px solid #ff5555;*/
}

.info-wrap {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    background: linear-gradient(0deg,
                            rgba(0, 0, 0, 0.9) 0%,
                            rgba(0,0,0,.45) 75%,
                            rgba(0,0,0,0.0) 100%);
}

.title {
    font-size: 25px;
    padding: 10px;    
}

.reference {
    color: gray;    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
}

.description-wrap {
    background-color: black;
    color: white;
    position: absolute;
    width: 100vw;
    top: 75vw;
    bottom: 0px;
}

.description {
    padding: 10px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

#history-list {
    overflow-y: hidden;
    padding: 0px;
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
}

.list-header {
    padding: 10px;
}

.list-item:first-of-type {
    margin-top: 5px;
}

.list-item {
    cursor: pointer;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.list-item img {
    padding: 5px;
    float: left;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.list-item span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.can-hover .list-item:hover {
    background: #333333;
}

.result-x {
    color: #ff5555;
    /*
    background-image: url("data:image/svg+xml,<svg width='1em' height='1em' viewBox='0 0 16 16' fill='#7777ff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    */
}

.result-v {
    color: #33cc33;
}

.result-n {
    color: #7777ff;
}

textarea:focus, input:focus{
    outline: none;
}

#search-form {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 50px;
}

#search-query-wrapper {
    position: absolute;
    left: 0px;
    right: 45px;
    height: 30px;
    margin: 10px;
    margin-right: 0px;
}

#search-query {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    padding-left: 5px;
    top: 0px;
    background: #333333;
    color: white;
    border: 0px;
    border-radius: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.0rem;
}

#search-button {
    position: absolute;
    margin: 10px;
    margin-left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0px;
    height: 30px;
    width: 30px;
    background: #333333;
    color: white;
    border: 0px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

#search-button svg {
    margin: 5px;
}

#search-list {
    overflow-y: hidden;
    padding: 0px;
    background-color: black;
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 100%;
}

#query-not-found {
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

a {
    color: #7777ff;
}

#user {
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    */
    width: 100vw;
    /*justify-content: center;*/
}

#avatar {
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 20px;
}

#username {
    padding-top: 15px;
    padding-bottom: 5px;
    margin-right: 15px;
    height: 40px;
    font-size: 20px;
    color: gray;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-description {
    padding: 10px;
    padding-top: 0px;
    color: gray;
}

.menu-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.badge {
    color: yellow;
}

.icon {
    min-width: 25px;
    max-width: 25px;
    fill: gray;
}

.can-hover .tab:hover .icon {
    fill: white;
}

.tab.selected .icon {
    fill: lightgray;
}

.tab-label {
    color: gray;
}

.can-hover .tab:hover .tab-label {
    color: white;
}

.tab.selected .tab-label {
    color: lightgray;
}

.can-hover .tab:hover {
    background-color: darkslategray;
}